<div class="container text-center mt-4">
  <div
    class="p-2 text-white rounded w-50 mx-auto"
    style="background-color: #052c65"
  >
    <h2>Em Construção</h2>
    <p class="mb-3">
      Esta página ainda está sendo finalizada. Em breve, novas funcionalidades
      estarão disponíveis!
    </p>
  </div>

  <div class="my-4">
    <!-- SVG de construção -->
    <img src="assets/undraw_programming_65t2.svg" class="w-25" alt="" />

    <h4 class="mt-4" style="color: #052c65">Estamos trabalhando nisso!</h4>
    <p>
      Enquanto isso, você pode voltar para a
      <a href="/" style="color: #052c65; font-weight: bold">página inicial</a>.
    </p>

    <a
      href="/"
      class="btn btn-primary mt-3"
      style="background-color: #052c65; border: none"
      >Voltar ao Início</a
    >
  </div>
</div>
